<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>  
    <form method="POST">
        <input type="text" name="text" id="">
        <button type="submit">Send</button>
    </form>
</body>
</html>