<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>  
    <form method="POST">
        <input type="text" name="title">
        <textarea name="body" cols="30" rows="7"></textarea>
        <button type="submit">Send</button>
    </form>
</body>
</html>