<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>  
    <a href="/create">Add</a>
    <ul>
        <% arr.forEach(function(elem) { %>
        <li>
            <%= elem %>
        </li>
        <% }); %>
    </ul>
</body>
</html>